#customerProfiles {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    
}

.customerCard {
    flex-wrap: nowrap;
    text-align: center;
    padding: 30px;

 
    
}

.customerImage {
    width: 30%;
    height: 40%;
    border-radius: 30% 70% 30% 70% / 30% 70% 30% 70%;
   
   
}

.customerName {
    text-transform: capitalize;
}

.customerEmail {
    color: gray;
}