#customerProfiles {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    
}

.customerCard {
    flex-wrap: nowrap;
    text-align: center;
    padding: 30px;

 
    
}

.customerImage {
    width: 30%;
    height: 30%;
    border-radius: 10em 18em 10em 18em;
   
   
}

.customerName {
    text-transform: capitalize;
}

.customerEmail {
    color: gray;
}